#dropbox {
    border:1px dashed #ccc;
    min-height:200px;
    min-width:200px;
    max-width: 500px;
}

#dropbox:focus {
    border-radius: 2px;
}

#dropbox .imageHolder img {
    max-width: 800px;
}

dd img {
    width: 250px;
}