#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script 'script.js'/}
    #{script 'jquery.filedrop.js'/}
#{/set}

<h1>gim</h1>
<p class="lead">simple image upload</p>
<div class="row">
    <div id="dropbox" class="hero-unit span6" data-websocket="@@{ImageController.WebSocket.image()}">
        <span class="message">Paste or drag files here</span>
    </div>

    <div id="notify" class="span4">

    </div>
</div>


<ul class="thumbnails">
    #{list items:entries, as:'entry' }
        <li class="span3" id="i-${entry.id}">
            <div class="thumbnail">
                <img src="@{ImageController.displayImage(entry.id)}"/>
*{                <button class="btn btn-mini"><i class="icon-remove"></i></button>}*
            </div>
        </li>
    #{/list}
</ul>

<form action="@{ImageController.deleteAll()}" method="get">
    <input class="btn btn-danger" type="submit" value="Clear" />
</form>