#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script 'script.js'/}
    #{script 'jquery.filedrop.js'/}
#{/set}

<h1>gimple</h1>
<p class="lead">the simple image uploader</p>
<div class="row">
    <div id="dropbox" class="hero-unit span6" data-websocket="@@{ImageWSController.image()}">
        <span class="message">Lim inn eller slipp her</span>
    </div>

    <div id="notify" class="span4">

    </div>
</div>


<ul class="thumbnails">
    #{list items:entries, as:'entry' }
        <li class="span3">
            <div class="thumbnail">
                <img src="@{ImageController.displayImage(entry.id)}"/>
*{                <div class="caption">
                    <h5>${entry.name}</h5>
                </div>}*
            </div>
        </li>
    #{/list}
</ul>

<form action="@{ImageController.deleteAll()}" method="get">
    <input class="btn btn-danger" type="submit" value="Clear" />
</form>